.stories {
  background: linear-gradient(rgba($color-black,.5),
   rgba($color-black,.5)),
    url('../img/pexels-photo-220147.jpeg') center/cover fixed;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 10rem;
  padding-bottom: 5rem;
  @include respond(tab-land){
    height: auto;
  }
  @include respond(phone){
    margin-bottom: 0rem;
  }

  &__unskew {
    transform: skew(20deg);
    @include respond(tab-port){
      transform: skew(0);
    }
  }

  &__card{
    background-color: $color-light;
    width: 50%;
    padding: 3rem 6rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    transform: skew(-20deg);
    @include respond(tab-port){
      background-color: rgba($color-light,.8);
      transform: skew(0);
      font-size: 2rem;
      width: 94%;
      padding: 2rem 3rem;
    }
    @include respond(phone){
      width: 90%;
      padding: 1rem 2rem;
      font-size: 1.5rem;
    }
    // height: 40vh;
  }
  &__img-container{
    width: 10rem;
    height: 10rem;
    float: left;
    margin-right: 3rem;
  }
  &__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

}